<!DOCTYPE html>
<html>
  <head>
     <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>"
    ></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <title>FitFollower</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    <script type="text/javascript">
      window.splashURL = "<%= image_url('splash.jpg') %>"
      window.githubURL = "<%= image_url('GitHub-Mark-Light-32px.png') %>"
      window.gmailURL = "<%= image_url('gmail32.png') %>"
      window.liURL = "<%= image_url('LI.png') %>"
      window.emailURL = "<%= image_url('email.png') %>"
      window.mountainbikeURL = "<%= image_url('mountainbike.jpg') %>"
      window.femaleRunnerURL = "<%= image_url('female_runner.jpg') %>"
      window.bike1URL = "<%= image_url('bike1.jpg') %>"
      window.bike2URL = "<%= image_url('bike2.jpg') %>"
      window.bike3URL = "<%= image_url('bike3.jpg') %>"
      window.magURL = "<%= image_url('mag.png') %>"
      window.downCaretURL = "<%= image_url('down-caret.png') %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
